[package]
name = "guest-fill"
version = "0.1.0"
edition = "2021"  # TODO: update to 2024

[lib]
crate-type = ["cdylib"]

[dependencies]

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
